.main-width {min-width: 916px; max-width: 1600px; width: auto}
.good-blocks {float: left}
/* .login-block {right: 0} */
.invite-block .invite-bl {width: 32%}
/* .footer .main-width{width: auto; min-width: 109px; max-width: 1693px} */
.footer .footer-left {width: 60%; margin-right: 2%}
